body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div .buttons {
    display: flex;
}

.container {
    min-height: 600px;
    min-width: 600px;
    background: rgb(247, 79, 79);
    padding: 30px 30px 75px 30px;;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    border-radius: 12px;
}

.cell {
    flex: 1 0 35px;
    background: rgb(241, 232, 217);
    border: black solid .5px;
}