body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(90, 178, 213)
}

.buttons {
    display: flex;
    background-color:rgb(247, 79, 79);
    padding: 25px 104.5px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;;
}

button:hover {
    background:rgb(193, 53, 53)
}

div button {
    background:rgb(247, 79, 79);
    border: rgb(236, 236, 95) solid 1px;
    border-radius: 6px;
    color: rgb(236, 236, 95);
    padding: 5px 40px;
    margin-right: 30px;
}

header h1 {
    background:rgb(247, 79, 79);
    padding: 10px 233px;
    margin-bottom: 0;
    margin-top: 2.5px;
    color:rgb(236, 236, 95);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;;
}

.container {
    min-height: 600px;
    min-width: 600px;
    max-height: 600px;
    max-width: 600px;
    background: rgb(247, 79, 79);
    padding: 0px 30px 0px 30px;;
    display: flex;
    flex-wrap: wrap;
}

.cell,
.medium-cell {
    flex: 1 0 35px;
    background: rgb(241, 232, 217);
    border: black solid .5px;
}

.small-cell {
    flex: 1 0 54px;
    background: rgb(241, 232, 217);
    border: black solid .5px;
}

.large-cell {
    flex: 1 0 17.2px;
    background: rgb(241, 232, 217);
    border: black solid .5px;
}